.container {
  height: auto;
  width: 90vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.details {
  display: flex;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classBox {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid;
  margin-bottom: 15px;
}

.resultContainer {
  display: flex;
}

hr {
  width: 100%;
}

@media screen and (max-with: 667px) {
  .container {
    margin-top: 1550px;
  }
}
