.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.forecast {
  background-color: #e5e5e5;
  height: 35vh;
  width: 135px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
}
.inForecast {
  text-align: center;
}
.inForecast span {
  display: inline-block;
  color: #ec6e4c;
}
